/* list.css */
/* General container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Add Doctor Button */
.add {
  margin-bottom: 20px;
}

.add button a {
  color: #fff;
  text-decoration: none;
}

.add button {
  background-color: #0f5485;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.add button:hover {
  background-color: #06345b;
}

/* Search Bar and Filter Form */
form {
  margin-bottom: 20px;
}

form input[type="text"],
form select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button[type="submit"] {
  background-color: #0f5485;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #06345b;
}

.doc-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Doctor Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;

  margin: 2px; /* Center cards horizontally with some spacing */
  width: 100%; /* Adjust width as needed */
  max-width: 800px; /* Maximum width for responsiveness */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  color: #333;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 5px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  color: #0f5485;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
  color: #06345b;
}

/* No doctors found message */
.card-container p {
  margin: 20px;
  color: #888;
}
